*.bak
.DS_Store
projects
private
sandbox
rules
.cargo
.codex
.cache
.claude
.claude.json
.cursor
.opencode
.config
.local
.rustup
.terminfo
docker/.compose.ssh-auth.yaml
docker/.Dockerfile.build
docker/.Dockerfile.tools.build
auth/
